
<div class="container-fluid">

<h1>Add an Object to the Collection<h1>

<h3>

 <form method="POST" action="AddObj" id="AddObj" enctype='multipart/form-data'>

 	Title: <input type="text" name = "title" value ="" required>
	 <BR>
	 Medium: <input type="text" name = "medium" value ="">
	 <BR>
 	Photographer: <input type="text" name = "photographer" value ="">
	<BR>
	Format: <input type="text" name = "format" value ="">
	<BR>
	Date: <input type="text" name = "date" value ="">
	<BR>
	 *Identifier:  <input type="text" name = "identifier" value ="" required>
	 <BR>
	 *Original Identifier:  <input type="text" name = "originalIdentifier" value ="" required>
	 <BR>
 	Department: <input type="text" name = "department" value ="">
	<BR>
	Collection: <input type="text" name = "collectiontype" value ="">
	<BR>
	Repository: <input type="text" name = "repository" value ="">
 	<BR>

 	OTHER FIELDS
 	<BR>
 	On Display: <input type="text" name="onDisplay" value="">
 	<BR>
	Summary: <input type="text" name="summary" value="">
	<BR>
	Citation: <input type="text" name="citation" value="">
	<BR>
	Caption: <input type="text" name="caption" value="">
	<BR>

	Publisher: <input type="text" name = "publisher" value ="">
	 <BR>
 	Coverage: <input type="text" name = "coverage" value ="">
	 <BR>
	 Subject: <input type="text" name = "subject" value ="">
	 <BR>
	 
	<div>
		Image Upload
		<BR>
		<input type="file" name="pic" accept="image/*" form="AddObj" required>
		</div>
		<input type="submit" value="Submit" form="AddObj">
	</form>

</h3>
	<p>
		<a href="/">Go back to the Digital Research Archive Page </a href>
	</p>
</div>
