
<div class="container-fluid">
      <div class="row">
            <div class="col-md-12 col-md-offset-3">
                  <div class="row">
                        <div class="col-md-3" style="padding-top:10px">
                             <a href="#"><button class="btn  btn-info btn-block" style="background-color:#134ea2; color:#ffffff;">Research Department</button></a>
                        </div>
                        <div class="col-md-3" style="padding-top:10px">
                              <a href="/subject"><button class="btn  btn-info btn-block" style="background-color:#134ea2; color:#ffffff;">Subject</button></a>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-3"style="padding-top:10px">
                              <a href=""><button class="btn  btn-info btn-block" style="background-color:#134ea2; color:#ffffff;">Medium</button></a>                
                        </div>
                        <div class="col-md-3"style="padding-top:10px">
                             <a href="#"><button class="btn  btn-info btn-block" style="background-color:#134ea2; color:#ffffff;">Collection</button></a>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-3"style="padding-top:10px">
                              <a href="#"><button class="btn  btn-info btn-block" style="background-color:#134ea2; color:#ffffff;">Date</button></a>
                        </div>
                        <div class="col-md-3"style="padding-top:10px">
                             <a href="#"><button class="btn  btn-info btn-block" style="background-color:#134ea2; color:#ffffff;">Exhibit</button></a>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-3"style="padding-top:10px">
                             <a href="#"><button class="btn  btn-info btn-block" style="background-color:#134ea2; color:#ffffff;">Coverage</button></a>
                        </div>
                  </div>
                  
            </div>
      </div>
      <div class="row">
            <div class="col-md-12">
                  <div class="row">
                        <div class="col-md-12  ">
                        <h1>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</h1>
                        </div>
                        <div class="col-md-9">
                        <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at laoreet velit, ac tincidunt diam. Integer id tristique elit, et porttitor lorem. Duis ac viverra enim. Vivamus tincidunt consequat diam, ac laoreet nunc. Sed venenatis congue orci vitae tempor. Integer lobortis facilisis orci sed pretium. Suspendisse condimentum a lectus quis varius. <BR>  Nulla cursus mollis enim, sed interdum lacus blandit fermentum. Morbi tincidunt sem ligula, ut iaculis ante rhoncus sit amet. Praesent luctus mi vel nunc cursus, nec fringilla nibh dignissim. Vestibulum interdum est quam, eu pretium arcu aliquam sit amet. Sed condimentum nulla sed lobortis eleifend. Nulla suscipit auctor congue. Etiam pretium lobortis ipsum in tincidunt. Cras maximus nibh quis metus feugiat tempor.
                        </p>
                  
            </div>
           
      </div>

	



</div>

