
<div class="container-fluid">
	<h4>
		PLEASE ENJOY
	</h4>
	<p>
		<a href="AdvancedSearch">Advanced Search</a href><BR>		
		<a href="AskUs">Ask Us</a href><BR>
		<a href="Themes">Themes</a href><BR>
		<a href="AddObj">Add Obj</a href><BR>
	</p>
	{{!-- <div class="col-md-2"> --}}
	{{!-- <h5>Search:<input required class="form-control" type="text" id="search" name="search">	
		<input id="searchBtn" type="submit" class="btn"> --}}
			<form method = "GET" action="/search" id = "formdiv">
	 		Show me: <input type="text" name = "search" value ="">
	 		<BR>
	 		<input type="submit" value="Search!" style="font-size:15px; color:#F4F1DE; background-color: #81B29A;"><BR><BR>
			</form>

            <form id="formmap" action="/mapSearch" method="POST">
		          <img class="img-responsive" src="/images/luce.jpg" usemap="#floorplan_Map">
              <input type='hidden' name="caseNum" id="caseNum" value>
            

</div>

