<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
		<form method="POST" action="keyTerm" id="keyTerm">

			<div class="row">
				<div class="col-lg-12">
					<input class="btn btn-primary" name="keyWord" type="submit" value="Expeditions" style="float:left; margin: 5px; background:#134ea2;"></td>

					<div class="row">
						<div class="col-lg-12">
							<input class="btn btn-primary" name="keyWord" type="submit" value="Field Photographs" style="float:left; margin: 5px; "></td>

							<input class="btn btn-primary" name="keyWord" type="submit" value="Expedition Documentation" style="float:left; margin: 5px"></td>
						</div>
					</div>


				</div>
			</div>


			<div class="row" style="margin-top: 10px; width:50%">
				<div class="col-lg-12">
					<input class="btn btn-primary" name="keyWord" type="submit" value="Ornithology" style="float:left; margin: 5px; background:#134ea2"></td>

					<div class="row">
						<div class="col-lg-12">
							<input class="btn btn-primary" name="keyWord" type="submit" value="Birds " style="float:left; margin: 5px"></td>
						</div>
					</div>
				</div>
			</div>


			<div class="row" style="margin-top: 10px">
				<div class="col-lg-12">
					<input class="btn btn-primary" name="keyWord" type="submit" value="Exhibition Preparation" style="float:left; margin: 5px; background:#134ea2"></td>

					<div class="row">
						<div class="col-lg-12">
							<input class="btn btn-primary" name="keyWord" type="submit" value="Dioramas " style="float:left; margin: 5px"></td>
						</div>

						<div class="col-lg-12">
							<input class="btn btn-primary" name="keyWord" type="submit" value="Paintings" style="float:left; margin: 5px"></td>
						</div>

						<div class="col-lg-12">
							<input class="btn btn-primary" name="keyWord" type="submit" value="Museum Artists " style="float:left; margin: 5px"></td>
						</div>

						<div class="col-lg-12">
							<input class="btn btn-primary" name="keyWord" type="submit" value="Hall of North American Mammals " style="float:left; margin: 5px"></td>
						</div>
					</div>
				</div>
			</div>


			<div class="row" style="margin-top: 10px">
				<div class="col-lg-12">
					<input class="btn btn-primary" name="keyWord" type="submit" value="North America" style="float:left; margin: 5px; background:#134ea2"></td>

					<div class="row">
						<div class="col-lg-12">
							<input class="btn btn-primary" name="keyWord" type="submit" value="South Atlantic States " style="float:left; margin: 5px"></td>
						</div>
					</div>
				</div>
			</div>

					
		</form>
		</div>
	</div>
</div>